@import "../../assets/styles/variables/sizes";

.header {
  background-image: linear-gradient(to bottom, rgb(0 0 0 / 40%), rgb(255 255 255 / 0%)),
                    url("/assets/images/pope.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: $header-height;

  &__container {
    max-width: $content-width;
    margin: 0 auto;
  }
}
