<div class="opinion-card">
  <div class="opinion-card__information">
    <span class="opinion-card__label">What's your opinion on</span>
    <h2 class="opinion-card__name">Pope Francis?</h2>
    <p class="opinion-card__description">He’s talking tough on clergy sexual abuse, but is he just another papal pervert protector? (thumbs down) or a true pedophile punishing pontiff? (thumbs up)</p>
    <a href="#" class="opinion-card__link"><fa-icon [icon]="faWikipediaW"></fa-icon> More information</a>
    <span class="opinion-card__label opinion-card__label--bold">What's Your Verdict?</span>
  </div>
  <div class="opinion-card__thumbs">
    <div class="opinion-card__thumb-item opinion-card__thumb-item--up"><fa-icon [icon]="faThumbsUp" size="3x"></fa-icon></div>
    <div class="opinion-card__thumb-item opinion-card__thumb-item--down"><fa-icon [icon]="faThumbsDown" size="3x"></fa-icon></div>
  </div>
</div>
