<div class="primary-navigation">
  <div class="primary-navigation__logo">
    Rule of Thumb.
  </div>
  <div class="primary-navigation__links">
    <a href="#" class="primary-navigation__link-item">Past Trials</a>
    <a href="#" class="primary-navigation__link-item">How It Works</a>
    <a href="#" class="primary-navigation__link-item">Log in / Sign Up</a>
    <a href="#" class="primary-navigation__link-item primary-navigation__link-item--icon">
      <fa-icon [icon]="faSearch"></fa-icon>
    </a>
  </div>
</div>
